body{
    width: 98%;
    margin: auto;
    font-size: 16px;
background: rgb(244,140,124);
background: linear-gradient(180deg, rgba(244,140,124,1) 0%, rgba(251,193,84,1) 50%, rgba(100,252,69,1) 100%);
}
header{
    width: 100%;
    padding-bottom: 2%;
}
header h1{
    padding-top: 2%;
    text-align: center;
}
fieldset{
    width: 50%;
    margin: auto;
    font-size: 1.2em;
    margin-top: 2%;
    text-align: justify;
    border: 2px solid black;
}
.fieldsetPartC{
    width: 90%;
    margin: auto;
    font-size: 1.2em;
    margin-top: 2%;
    text-align: justify;
    border: 2px solid black;
}
fieldset li{
    list-style-type: upper-alpha;
}
#contenairePage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#auCommencement{
    font-size: 1.2em; 
    margin-left: 20%;
}
#auCommencement .li{
    font-size: 1.2em;
}
#auCommencement a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

h2{
    margin-left: 10%;
    margin-top: 8%;
}
h3{
    margin-top: 4%;
}
.article{
    text-align: center;
}
.erreur{
    list-style: none;
    text-align: left;
    color: red;
    font-size: 1.4em;
    margin-bottom: 1%;
    width: 100%;
}
.divImgSimple{
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
.divImgSimple img{
    width: 100%;
}
.explications{
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 1.2em;
    color: black;
    margin-bottom: 2%;
}
.fa-exclamation-triangle{
    color: red;
    font-size: 1.2em;
}
.row-images{
    display: flex;
    justify-content: space-around;
}
.row-images-child{
    display: flex;
    width: 48%;
    margin-bottom: 4%;
}
.row-images-child img{
    width: 100%;
    margin:auto;
}
footer{
    text-align: center;
    margin-bottom: 1%;
}